<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/changepassword.css}">
    <style>
    </style>
</head>
<body>
<!-- Sidebar navigation -->
<div th:replace="~{fragments/mypage_sidebar :: sidebar}"></div>
<main>
    <div class="container">
        <h1>비밀번호 변경</h1>
        <form id="password-change-form">
            <label for="current-password">현재 비밀번호</label>
            <input type="password" id="current-password" name="currentPassword" placeholder="현재 비밀번호 입력">

            <label for="new-password">새 비밀번호</label>
            <input type="password" id="new-password" name="newPassword" placeholder="새 비밀번호 입력">

            <label for="confirm-password">새 비밀번호 확인</label>
            <input type="password" id="confirm-password" name="confirmPassword" placeholder="새 비밀번호 재입력">

            <div class="buttons">
                <button type="submit" id="submit-button">확인</button>
            </div>
        </form>
        <p id="error-message" class="error-message" style="display: none;"></p>
    </div>
</main>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const form = document.getElementById("password-change-form");

        form.addEventListener("submit", async (event) => {
            event.preventDefault();

            const currentPassword = document.getElementById("current-password").value;
            const newPassword = document.getElementById("new-password").value;
            const confirmPassword = document.getElementById("confirm-password").value;
            const errorMessage = document.getElementById("error-message");

            try {
                const response = await fetch("/mypage/changepassword", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        currentPassword: currentPassword,
                        confirmPassword: confirmPassword,
                        newPassword: newPassword
                    }),
                });

                if (response.ok) {
                    alert("비밀번호가 성공적으로 변경되었습니다. \n보안을 위해 다시 로그인 해주세요.");
                    window.location.href = "/mypage/mypage"; // 리다이렉트
                } else {
                    const errorText = await response.text();
                    document.getElementById('error-message').textContent = errorText;
                    errorMessage.style.display = "block";
                }
            } catch (error) {
                console.error("Error:", error);
                errorMessage.textContent = "서버와 통신 중 오류가 발생했습니다.";
                errorMessage.style.display = "block";
            }
        });
    });
</script>
</body>
</html>
