.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}
.pagination .page-link {
    color: #007bff;
}
.pagination .page-link:hover {
    text-decoration: none;
}