<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie_Detail</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<!-- 공통 헤더 추가 -->
<div th:replace="~{fragments/header :: header}"></div>

<div class="container mt-5">
    <div class="row">
        <!-- 영화 포스터 -->
        <div class="col-md-4">
            <img th:src="@{${movie.posterImageUrl}}" class="img-fluid" alt="포스터 이미지">
        </div>
        <!-- 영화 정보 -->
        <div class="col-md-8">
            <h2 th:text="${movie.movieName}">영화 제목</h2>
            <p><strong>감독:</strong> <span th:text="${movie.directorName}"></span></p>
            <p><strong>장르:</strong> <span th:text="${movie.genreName}"></span></p>
            <p><strong>러닝타임:</strong> <span th:text="${movie.runtime}"></span></p>
            <p><strong>등급:</strong> <span th:text="${movie.rating}"></span></p>
            <p><strong>개봉일:</strong> <span th:text="${movie.openDate}"></span></p>
            <p><strong>줄거리:</strong> <span th:text="${movie.plot}"></span></p>
            <a href="/" class="btn btn-secondary mt-3">홈으로 돌아가기</a>
            <a th:href="@{/reservation(movieId=${movie.id})}" class="btn btn-success mt-3">예매하기</a>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>